<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Scrape-It</title>


	<!-- Reseting CSS -->
	<link rel="stylesheet" href="/css/reset.css" type="text/css" />

	<!--Materialize Icons-->
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	

	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/style.css" type="text/css" /> 
	{{!-- Jquery --}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>
	{{{ body }}}

	<!-- jQuery Library Reference -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

	
	<!-- Custom JavaScript -->
<script type="text/javascript" src="/js/app.js"></script>


</body>

</html>