<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Crypto News Scraper</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a class href="/scrape">Scrape new articles!</a>
        </li>
      </ul>
  </nav>
  </div>

  <div class="container center-align">
    <div id="articles" class="center-align">
      {{#each headline}}
      <div class="card darken-3 {{this.id}}">
        <div class="" id="card">
          <a href="{{this.link}}" class="card-link" target="_blank">
            <h5 class="card-title">{{this.title}}</h5>
          </a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>