body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position-x: right;
  background-color: #d7ccc8;
}


.container {
  margin-left: 5rem;
}
    

.brand-logo {
  font-family: "logo", sans-serif;
}

.material-icons {
  font-size: 1rem;
  color: #4e342e;
}

.card-title {
  padding: 1rem;
  font-size: 12px;
  color: #bcaaa4;
}

/* #save-btn {
  color: #4e342e;
  float: right;
} */