body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position-x: right;
  background-color: #8fc1e3;
}
    

.brand-logo {
  font-family: "logo", sans-serif;
  color: #f2f2f2 !important;
}

.material-icons {
  font-size: 1rem;
}

.card-title {
  padding: 1rem;
  font-size: 12px;
  color: #182628;
  font-weight: 500 !important;
}

.card {
  background-color: #f2f2f2
}

nav {
  background-color: #303c6c !important
}
